body {
	background-image: url(../img/material/background.jpg);
	background-repeat: repeat;
}
.batu{
  text-align:right;
  display: block;
}
.info h2 a {
  text-decoration: none;
  color:#000000;
}
.info h2 a :hover{
color:#000000;
}
.school_map{
  width:70%;
  height:auto;
}
.honbuto, .info{
  text-align:center;
  width:70%;
  margin: 0 auto;
}
.info h2{
    text-align:left;
}
.map_top{
    background-color: #fbf4ec;
    padding: 5%;
    margin: 0;
    width: 70%;
}
ul a{
    text-decoration: none;
    display: block;
    color:#000000;
}
ul a :hover{
color:#000000;
}
ul p{
  background-color: #fbf4ec;
  padding:7.9% 0;
  margin: 0;
  border: solid 1px #aaaaaa;
}
ul{
  float: right;
  margin: 0;
  width: 20%;
}
.info{
  background-color: #fbf4ec;
}
.info table{
  margin: 0 auto;
}
th,td{
  font-size: 20px;
  width: 0 30%;
}
