@font-face {
	font-family: 'KodomoRounded-Light';
	src: url(../fonts/KodomoRounded-Light.otf);
}
body {
	font-family: KodomoRounded-Light;
	background-image: url(../img/background.jpg);
	background-repeat: repeat;
}
header h2 {
	font-size: 35px;
	padding: 40px 0;
}
.contents {
	width: 70%;
	margin: 0 auto;
}
.title{
	padding: 20px 0;
}
/*pickup*/
.pick_contents{
	overflow: auto;
}
.content{
	float: left;
	border-radius: 15px;
	background-color: #fff;
	margin-left: 20px;
}
.content:first-child{
	margin: 0;
}
.content img{
	display: block;
}
.content h1{
	padding: 5px 0 5px 20px;
}
