body {
	background-image: url(../img/material/background.jpg);
	background-repeat: repeat;
}
header h2 {
	font-size: 35px;
	padding: 40px 0;
}
.contents {
	width: 70%;
	margin: 0 auto;
}
.title{
	padding: 40px 0;
}
.clear{
	clear: both;
}
/*map*/
.image_map{
	background-color: #fff;
	border-radius: 20px;
}
.image_map img{
	width: 90%;
	margin-left: 5%;
}
/*search*/
.search_box .gender{
	padding: 20px 0;
}
.information{
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-top: 40px;
	overflow: auto;
}
.toilet_image{
	width: 25%;
	margin-left: 3%;
	float: left;
	overflow: hidden;
}
.toilet_image .search_img{
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
}
.information .content{
	overflow: auto;
	padding: 10px 0 0;
}
.info{
	width: 68%;
	margin-left: 4%;
	float: left;
	padding: 10px 0 20px;
}
.info .gender{
	padding-bottom: 5px;
}
.info_section{
	padding-left: 30px;
	padding-bottom: 10px;
	overflow: auto;
}
.info_section img{
	width: 40px;
	display: block;
	float: left;
}
.info_section_name,
.info_section_floor{
	float: left;
	display: inline-block;
	padding-left: 10px;
	position: relative;
	top: 10px;
}
.info_content{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 5px;
	overflow: auto;
}
.info_content:before{
	content: '';
  float: left;
  width: 18px;
  height: 18px;
	background: url('../img/material/ic/circle.png');
	background-size: 18px;
}
.info_content:after{
	content: '';
  float: right;
  width: 95%;
  height: 6px;
	background: url('../img/material/ic/border.png');
	background-size: 95% 6px;
	background-repeat: no-repeat;
	position: relative;
	top: 1px;
}
.info_item{
	float: left;
	width: 60%;
	font-size: 15px;
}
.info_item h1{
	padding-left: 50px;
}
.info_number{
	float: left;
	width: 30%;
	font-size: 15px;
}
/*pickup*/
.pick_contents{
	overflow: auto;
}
.pick_contents .content{
	float: left;
	overflow: hidden;
	border-radius: 15px;
	background-color: #fff;
	margin-left: 80px;
	width: 200px;
	height: 300px;
}
.pick_contents .content:first-child{
	margin: 0;
}
.pick_contents .content img{
	display: block;
	width: auto;
	height: 300px;
}
.pick_contents .content h1{
	font-size: 14px;
	padding: 12px 0 12px 8px;
	background-color: rgba(225, 225, 225, 0.8);
	position: relative;
	bottom: 35px;
}
.building_contents{
	overflow: auto;
}
.building_contents .content{
	float: left;
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 15px;
	background-color: #fff;
	margin-left: 20px;
	margin-bottom: 40px;
}
.building_contents .content img{
	display: block;
	width: 120px;
	height: auto;
}
.building_contents .content h1{
	font-size: 11px;
	padding: 8px 0 8px 8px;
	background-color: rgba(225, 225, 225, 0.5);
	border-radius: 0 0 15px 15px;
	position: relative;
	bottom: 26px;
}
.footer{
	width: 70%;
	margin: 0 auto;
}
.footer .project_introduce h1{
	font-size: 28px;
	margin: 30px 0;
	font-weight: normal;
}
.footer .project_introduce h2{
	font-size: 20px;
	text-align: center;
	font-weight: 400;
}
.footer .copyright{
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 12px;
}
