@font-face {
	font-family: 'KodomoRounded-Light';
	src: url(../fonts/KodomoRounded-Light.otf);
}
body {
	font-family: KodomoRounded-Light;
	background-image: url(../img/background.jpg);
	background-repeat: repeat;
}
