body {
	background-image: url(../img/material/background.jpg);
	background-repeat: repeat;
}
header h2 {
	font-size: 35px;
	padding: 40px 0;
}
.contents {
	width: 70%;
	margin: 0 auto;
}
.title{
	padding: 40px 0;
}
.clear{
	clear: both;
}
/*pickup*/
.pick_contents{
	overflow: auto;
}
.pick_contents .content{
	float: left;
	border-radius: 15px;
	background-color: #fff;
	margin-left: 20px;
}
.pick_contents .content:first-child{
	margin: 0;
}
.pick_contents .content img{
	display: block;
}
.pick_contents .content h1{
	padding: 5px 0 5px 20px;
}
.building_contents{
	overflow: auto;
}
.building_contents .content{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 15px;
	background-color: #fff;
	margin-left: 20px;
	margin-bottom: 40px;
}
.building_contents .content img{
	display: block;
	width: 100px;
	height: auto;
}
.building_contents .content h1{
	padding: 5px 0 5px 20px;
	background-color: rgba(225, 225, 225, 0.5);
	border-radius: 0 0 15px 15px;
	position: relative;
	bottom: 26px;
}
.footer{
	width: 70%;
	margin: 0 auto;
}
.footer .project_introduce h1{
	font-size: 28px;
	margin: 30px 0;
	font-weight: normal;
}
.footer .project_introduce h2{
	font-size: 20px;
	text-align: center;
	font-weight: 400;
}
.footer .copyright{
	padding-top: 40px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 12px;
}
