.batu{
  text-align:right;
  display: block;
}
article h2 a img{
  vertical-align: -10px;
  margin-right: 5px;
  width: 5%;
  height: 5%;
}

article h2 a {
  text-decoration: none;
  color:#000000;
}
article h2 a :hover{
color:#000000;
}
.school_map{
  width:70%;
  height:auto;
}
article{
  text-align:center;
  width:70%;
  margin: 0 auto;
}
article h2{
    text-align:left;
}
figure{
    background-color: #fbf4ec;
    padding: 5%;
    margin: 0;
    width: 70%;

}
nav a{
    text-decoration: none;
    display: block;
    color:#000000;
}
nav a :hover{
color:#000000;
}
nav p{
  background-color: #fbf4ec;
  padding:7.9% 0;
  margin: 0;
  border: solid 1px #aaaaaa;
}
nav{
  float: right;
  margin: 0;
  width: 20%;
}



.info{
  background-color: #fbf4ec;


}
.info table{
  margin: 0 auto;
}
th,td{
  font-size: 20px;
  width: 0 30%;
}
